<div class="component">
  <app-header-parameterized [hasUserLoginCard]="true"></app-header-parameterized>
  <div class="content">
    <div *ngIf="showWhat == Consts.APPLICATIONS_CLOSED" class="alert alert-secondary registration-period-ended"
         role="alert">Etapa de aplicare pentru
      obținerea unui loc în căminele UBB s-a încheiat.
    </div>
    <button *ngIf="showWhat == Consts.APPLICATIONS_OPEN_NONE_REGISTERED" class="alert alert-info create-application-button"
         role="alert"
         (click)="GoToDormRegistration()">Încarcă dosar
    </button>
    <div class="applications" *ngIf="showWhat == Consts.APPLICATIONS_OPEN_REGISTERED_ALREADY">
      <div class="applications-header">
        <!-- dashboard-section.component.html -->
        <nav class="nav-bar">
          <button (click)="switchTabs()" [class.active]="activeTab === 'your-applications'">Înregistrările tale</button>
          <button (click)="switchTabs()" [class.active]="activeTab === 'history'">Istoric</button>
        </nav>
      </div>
      <div class="cards-container">
        <div *ngIf="activeTab === 'your-applications'">
            <app-application-card [currentApplication]="userCurrentApplicationDto"></app-application-card>
        </div>
        <ng-container *ngIf="activeTab === 'history'">
          <div *ngIf="history.length > 0">
            <div *ngFor="let t of history">
              <app-application-card [currentApplication]="t"></app-application-card>
            </div>
          </div>
          <div *ngIf="history.length === 0">
            -
          </div>
        </ng-container>
      </div>
    </div>
  </div>


  <footer>
    <br>
    <br>
    <div class="separator"></div>
    <div class="container">
      <div class="row footer">
        <div class="col-md">
          © Universitatea Babeş-Bolyai, 2025, <br>
          toate drepturile rezervate
        </div>
        <div class="col-md">
          Protecția datelor cu caracter personal
        </div>
        <div class="col-md">
          Politica de utilizare a cookies-urilor
        </div>
      </div>
    </div>
    <br>
  </footer>
</div>
