/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.separator {
  display: flex;
  border-bottom: solid 1px #c5c5c5;
  margin-left: 4%;
  margin-right: 4%;
}

.footer {
  display: flex;
  font-size: 80%;
  justify-content: space-between;
  color: #1a4977;
  text-align: center;
}
