<div class="component">
  <div class="header">
    <div class="logo-container">
      <div class="logo">
        <img src="assets/LogoUBB.jpg" alt="University Logo">
        <img src="assets/Logo_DTIC.jpg" alt="DTIC Logo">
      </div>
      <div class="title"> Platformă pentru înscrierea <br> în procesul de cazare</div>
    </div>

    <div *ngIf="hasUserLoginCard" class="login-card">
      <button class="login-card-item" (click)="GoToUserProfile()">
        <div class="fas fa-user login-card-item-icon"></div>
        {{EmailAddress}}
      </button>
      <button *ngIf="userRole === 3 || userRole === 4" class="login-card-item" (click)="GoToAdmin()">
        <div class="fas fa-cog login-card-item-icon"></div>
        Panou Administrație
      </button>
      <button class="login-card-item" (click)="Logout()">
        <div class="fas fa-sign-out-alt login-card-item-icon"></div>
        Logout
      </button>
    </div>
  </div>
  <div class="separator"></div>
</div>
