<div class="component">
  <div class="header">
    <div class="logo-container">
      <div class="logo">
        <img src="assets/LogoUBB.jpg" alt="University Logo">
        <img src="assets/Logo_DTIC.jpg" alt="DTIC Logo">
      </div>
      <div class="title">
        <div>Platformă pentru înscrierea <br> în procesul de cazare</div>
        <div *ngIf="hasUserLoginCard && currentAccommodationSession.id !== 0" class="accommodation-session-details" data-bs-toggle="modal"
             data-bs-target="#myModal" data-bs-placement="bottom" title="Click pentru detalii">
          {{"Sesiunea curentă: " + currentAccommodationSession.name}}
        </div>
        <div *ngIf="hasUserLoginCard && currentAccommodationSession.id === 0" class="accommodation-session-details"
             data-bs-placement="bottom">
          {{"Nu există sesiuni active"}}
        </div>
      </div>
    </div>


    <div *ngIf="hasUserLoginCard" class="login-card">
      <button class="login-card-item" (click)="GoToUserProfile()">
        <div class="fas fa-user login-card-item-icon"></div>
        {{EmailAddress}}
      </button>
      <button *ngIf="userRole === 3 || userRole === 4" class="login-card-item" (click)="GoToAdmin()">
        <div class="fas fa-cog login-card-item-icon"></div>
        Panou Administrație
      </button>
      <button class="login-card-item" (click)="Logout()">
        <div class="fas fa-sign-out-alt login-card-item-icon"></div>
        Logout
      </button>
    </div>
  </div>
  <div class="separator"></div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Sesiunea {{currentAccommodationSession.name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col" class="phase">Etapa</th>
            <th scope="col">Dată început</th>
            <th scope="col">Dată sfârșit</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row" class="phase">Aplicare</th>
            <td>{{currentAccommodationSession.applicationPhaseStartDate}}</td>
            <td>{{currentAccommodationSession.applicationPhaseEndDate}}</td>
          </tr>
          <tr>
            <th scope="row" class="phase">Distribuire</th>
            <td>{{currentAccommodationSession.assignmentPhaseStartDate}}</td>
            <td>{{currentAccommodationSession.assignmentPhaseEndDate}}</td>
          </tr>
          <tr>
            <th scope="row" class="phase">Redistribuire</th>
            <td>{{currentAccommodationSession.reassignmentPhaseStartDate}}</td>
            <td>{{currentAccommodationSession.reassignmentPhaseEndDate}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
