<div class="page-container">
  <app-header-parameterized  [hasUserLoginCard]="true"></app-header-parameterized>

<div class="dorm-application">
    <h2>Aplica pentru Cazare în Cămin</h2>
    <form [formGroup]="dormApplicationForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="document">Încarcă cererea (PDF)</label>
        <input
          type="file"
          id="document"
          (change)="onFileChange($event, 'document')"
          accept=".pdf"
          required
        />
        <div *ngIf="selectedFiles.length == 0 && dormApplicationForm.get('document')?.touched" class="error">
          Te rog să încarci documentul.
        </div>
      </div>
  
      <div class="form-group">
        <label for="dormPreference1">Selectează preferința 1 pentru cămin</label>
        <select id="dormPreference1" formControlName="dormPreference1" required>
          <option value="">Selectează Căminul</option>
          <option *ngFor="let dorm of filteredDorms1" [value]="dorm.id">{{ dorm.name }}</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="dormPreference2">Selectează preferința 2 pentru cămin</label>
        <select id="dormPreference2" formControlName="dormPreference2" required>
          <option value="">Selectează Căminul</option>
          <option *ngFor="let dorm of filteredDorms2" [value]="dorm.id">{{ dorm.name }}</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="dormPreference3">Selectează preferința 3 pentru cămin</label>
        <select id="dormPreference3" formControlName="dormPreference3" required>
          <option value="">Selectează Căminul</option>
          <option *ngFor="let dorm of filteredDorms3" [value]="dorm.id">{{ dorm.name }}</option>
        </select>
      </div>
      <div class="form-group checkbox-group">
        <input
          type="checkbox"
          id="applyForRedistribution"
          formControlName="applyForRedistribution"
        />
        <label for="applyForRedistribution">
          Aplică pentru redistribuire în cazul în care nu te califici pentru niciunul dintre căminele selectate
        </label>
      </div>

      <div class="form-group checkbox-group">
        <input
          type="checkbox"
          id="specialRequest"
          formControlName="specialRequest"
          (change)="onSpecialRequestChange($event)"
        />
        <label for="specialRequest">
          Aplică pentru loc special (ex: orfan, etnie, cerere socială)
        </label>
      </div>
  
      <div *ngIf="dormApplicationForm.get('specialRequest')?.value" class="form-group">
        <label for="specialRequestType">Selectează tipul de loc special</label>
        <select id="specialRequestType" formControlName="specialRequestType">
          <option value="">Selectează tipul</option>
          <option value="Orfan">Loc special pentru caz de orfan</option>
          <option value="Etnie">Loc special pentru etnie romă</option>
          <option value="CerereSociala">Loc special pentru caz social</option>
        </select>
      </div>
  
      <div *ngIf="dormApplicationForm.get('specialRequest')?.value" class="form-group">
        <label for="additionalDocuments">Încarcă documente suplimentare</label>
        <input
          type="file"
          id="additionalDocuments"
          (change)="onFileChange($event, 'additionalDocuments')"
          accept=".pdf"
        />
      </div>
  
      <button type="submit" [disabled]="!dormApplicationForm.valid">Trimite cererea</button>
    </form>
  </div>
  <a class="fixed-button" routerLink="/home">
    Înapoi
  </a>
  
</div>
