<div class="card" [ngClass]="{'needs-action': currentApplication.status.id === 2 && userRole === 2}">
  <div class="card-header">
    <div class="fas fa-solid fa-paste icon-item"></div>
    <div>
      <strong>Nr. înregistrare: </strong>{{currentApplication.applicationName}}
    </div>
  </div>

  <div class="card-body">
    <p class="card-text"><strong>Student:   </strong>{{currentApplication.studentName}}</p>
    <p class="card-text"><strong>Facultate:  </strong> {{currentApplication.faculty}}</p>
    <p class="card-text"><strong>Tip cerere:  </strong> cazare</p>
    <p class="card-text"><strong>Status:   </strong> {{currentApplication.status.name}}</p>
    <p class="card-text"><strong>Ultima actualizare:   </strong> {{currentApplication.lastUpdate | date: 'dd.MM.yyyy, h:mm a'}}</p>

    <div class="separator"></div>
    <div class="footer">
      <button *ngIf="userRole === 2 && currentApplication.status.id === 2" 
              (click)="GoToUpdateApplication()" 
              style="margin-right: 10px;"
              class="action-needed">Modifică</button>
      <button (click)="GoToApplicationDetails()">Detalii</button>
    </div>
  </div>
</div>

